<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chujun.practice.mybatis.mapper.BlogInfoMapper">
	<resultMap type="BlogInfo" id="detailedBlogResultMap">
		<constructor>
			<idArg column="blog_id" javaType="_long" />
		</constructor>
		<!-- <id property="id" column="blog_id"/> -->
		<result property="title" column="title" />
		<result property="authorId" column="author_id" />
		<result property="coAuthorId" column="co_author_id" />
		<association property="author" column="author_id" javaType="Author">
			<id property="id" column="user_id" />
			<result property="userName" column="user_name" />
			<result property="password" column="password" />
			<result property="email" column="email" />
			<result property="bio" column="bio" />
			<result property="favouriteSection" column="favourite_section" />
		</association>
		<association property="coAuthor" column="co_author_id" javaType="Author">
		    <id property="id" column="co_id" />
            <result property="userName" column="co_user_name" />
            <result property="password" column="co_password" />
            <result property="email" column="co_email" />
            <result property="bio" column="co_bio" />
            <result property="favouriteSection" column="co_favourite_section" />
		</association>
	</resultMap>
	
	<resultMap type="BlogInfo" id="detailedBlogResultMap2">
        <id property="id" column="blog_id"/> 
        <result property="title" column="title" />
        <result property="authorId" column="author_id" />
        <result property="coAuthorId" column="co_author_id" />
        <!--嵌套查询，增加一次gps,提高单次查询效率，-->
        <association property="author" column="user_id" select="findAuthorById">
        </association>
    </resultMap>
    
    <resultMap type="BlogInfo" id="detailedBlogResultMap3">
        <constructor>
            <idArg column="blog_id" javaType="_long" />
        </constructor>
        <!-- <id property="id" column="blog_id"/> -->
        <result property="title" column="title" />
        <result property="authorId" column="author_id" />
        <result property="coAuthorId" column="co_author_id" />
        <!-- 嵌套映射resultMap -->
        <association property="author" column="author_id" javaType="Author" resultMap="authorResultMap"/>
    </resultMap>
    
	<resultMap type="Author" id="authorResultMap">
		<id property="id" column="user_id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="bio" column="bio" />
		<result property="favouriteSection" column="favourite_section" />
	</resultMap>

	<select id="findById" parameterType="long" resultMap="detailedBlogResultMap">
		select
		<include refid="blog_sql" />
		,
		<include refid="author_sql" />,
		<include refid="co_author_sql"/>
		from blog b
		left join author user on b.author_id=user.id
		left join author co_user on b.co_author_id=co_user.id
		where
		b.id=#{id}
	</select>

	<select id="findAll" resultMap="detailedBlogResultMap">
		select
		<include refid="blog_sql" />
		,
		<include refid="author_sql" />
		from blog b
		left join author user on b.author_id=user.id
	</select>
	
	<select id="findAuthorById" parameterType="long" resultMap="authorResultMap">
	   select <include refid="author_sql"/>
	   from author user
	   where user.id=#{id}
	</select>

	<sql id="blog_sql">
		b.`id` as blog_id,b.`title`,b.`author_id`,b.co_author_id
	</sql>
	<sql id="author_sql">
		user.`id` as user_id,user.`user_name`,user.`password`,user.`email`,user.`bio`,user.`favourite_section`
	</sql>
	<sql id="co_author_sql">
        co_user.`id` as co_id,
        co_user.`user_name` as co_user_name,
        co_user.`password` as co_password,
        co_user.`email` as co_email,
        co_user.`bio` as co_bio,
        co_user.`favourite_section` as co_favourite_section
    </sql>
</mapper>