<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chujun.practice.mybatis.mapper.UserMapper">

	<resultMap type="User" id="userResultMap">
		<id property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="userAge" column="user_age" />
		<result property="userAddress" column="user_address" />
		<result property="createTime" column="create_time" javaType="date" />
		<result property="employTime" column="employ_time" javaType="date" jdbcType="INTEGER"
			typeHandler="CustomTimeStampHandler" />
	    <result property="employStatus" column="employ_status"/>
	</resultMap>	
    
	<select id="selectUserByID" parameterType="int" resultMap="userResultMap">
		select
		<include refid="base_sql" />
		from `user` where id = #{id}
	</select>	

    <select id="findById" resultMap="userResultMap">
        select <include refid="base_sql"/>
        from user
        where id=#{id}
    </select>
    
	<select id="findAll" resultMap="userResultMap">
		select
		<include refid="base_sql" />
		from user
	</select>
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="user">
	   INSERT INTO `user`(`user_name`,`user_age`,`user_address`,`create_time`,`employ_time`,`employ_status`)
        VALUES (#{userName},#{userAge},#{userAddress},#{createTime},
        #{employTime,typeHandler=CustomTimeStampHandler},#{employStatus});
	</insert>
	
	<update id="update">
	   update user
	   set user_name=#{userName},user_age=#{userAge},user_address=#{userAddress},
     	   create_time=#{createTime},employ_time=#{employTime,typeHandler=CustomTimeStampHandler},
     	   employ_status=#{employStatus}
	   where id=#{id}
	</update>

    <update id="batchUpdate" parameterType="list">
        <foreach collection="list" item="user" open="" close="" index="index" separator=";">
            update user
            set user_name=#{user.userName},user_age=#{user.userAge},user_address=#{user.userAddress},
            create_time=#{user.createTime},employ_time=#{user.employTime,typeHandler=CustomTimeStampHandler},
            employ_status=#{user.employStatus}
            where id=#{user.id}
        </foreach>
    </update>
    
	<sql id="base_sql">
		id,user_name,user_age,user_address,create_time,employ_time,employ_status
	</sql>
</mapper>